		body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .container {
            text-align: center;
        }
        .input-group {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
        input[type="text"] {
            padding: 15px;
            font-size: 18px;
            width: 400px;
            border-radius: 25px;
            border: 1px solid #ccc;
            margin: 0 10px;
        }
        button {
            padding: 12px 25px;
            font-size: 18px;
            margin-top: 15px;
            cursor: pointer;
            border-radius: 25px;
            border: 1px solid #ccc;
            background-color: #f0f0f0;
        }
        input[type="submit"] {
	        padding: 12px 25px !important;
	        font-size: 18px !important;
	        cursor: pointer !important;
	        border-radius: 25px !important;
	        border: 1px solid #ccc !important;
	        background-color: #f0f0f0 !important;
	        text-align: center !important;
    	}
    	
    	/* タイトル */
    	@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.title {
  display: flex;
  overflow: hidden;
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  /*font-family: 'Josefin Sans', sans-serif;*/
}

.title span {
  display: block;
  transform: translate(0, 105%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.title.-visible span {
  transform: translate(0, 0);
}

.title span:nth-child(2) {
  transition-delay: 0.06s;
}
.title span:nth-child(3) {
  transition-delay: 0.12s;
}
.title span:nth-child(4) {
  transition-delay: 0.18s;
}
.title span:nth-child(5) {
  transition-delay: 0.24s;
}
.title span:nth-child(6) {
  transition-delay: 0.30s;
}
.title span:nth-child(7) {
  transition-delay: 0.36s;
}
.title span:nth-child(8) {
  transition-delay: 0.42s;
}
.title span:nth-child(9) {
  transition-delay: 0.48s;
}
.title span:nth-child(10) {
  transition-delay: 0.54s;
}
.title span:nth-child(11) {
  transition-delay: 0.6s;
}
.title span:nth-child(12) {
  transition-delay: 0.66s;
}
.title span:nth-child(13) {
  transition-delay: 0.72s;
}
.title span:nth-child(14) {
  transition-delay: 0.78s;
}
.title span:nth-child(15) {
  transition-delay: 0.84s;
}
.title span:nth-child(16) {
  transition-delay: 0.9s;
}
.title span:nth-child(17) {
  transition-delay: 0.96s;
}
.title span:nth-child(17) {
  transition-delay: 1.02s;
}
.title span:nth-child(17) {
  transition-delay: 1.08s;
}
.title span:nth-child(18) {
  transition-delay: 1.14s;
}
.title span:nth-child(19) {
  transition-delay: 1.2s;
}
.title span:nth-child(20) {
  transition-delay: 1.26s;
}
.title span:nth-child(21) {
  transition-delay: 1.32s;
}
.title span:nth-child(22) {
  transition-delay: 1.38s;
}
.title span:nth-child(23) {
  transition-delay: 1.44s;
}
.title span:nth-child(24) {
  transition-delay: 1.5s;
}
.title span:nth-child(25) {
  transition-delay: 1.56s;
}
.title span:nth-child(26) {
  transition-delay: 1.62s;
}
.title span:nth-child(27) {
  transition-delay: 1.68s;
}
.title span:nth-child(28) {
  transition-delay: 1.74s;
}
.title span:nth-child(29) {
  transition-delay: 1.8s;
}
.title span:nth-child(30) {
  transition-delay: 1.86s;
}
.title span:nth-child(31) {
  transition-delay: 1.92s;
}
.title span:nth-child(32) {
  transition-delay: 1.98s;
}
.title span:nth-child(33) {
  transition-delay: 2.04s;
}
.title span:nth-child(34) {
  transition-delay: 2.1s;
}
.title span:nth-child(35) {
  transition-delay: 2.16s;
}
.title span:nth-child(36) {
  transition-delay: 2.22s;
}
.title span:nth-child(37) {
  transition-delay: 2.28s;
}
.title span:nth-child(38) {
  transition-delay: 2.34s;
}
.title span:nth-child(39) {
  transition-delay: 2.4s;
}
.title span:nth-child(40) {
  transition-delay: 2.46s;
}
.title span:nth-child(41) {
  transition-delay: 2.52s;
}

.anim-box.slidein.is-animated {
  animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
 
@keyframes slideIn {
  0% {
    transform: translateX(180px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
  40%,100% {
    opacity: 1;
  }
}


/* レイアウトCSS */
.inner {
    width: 100%;
    max-width: 1000px;
    margin: 100px auto;
}

/* ここから時間差フェードインアニメーション */

/* 1.5秒間かけてフェードイン */
.fadeIn2600ms {
    animation-name: fadeIn2600ms;
    animation-delay: 2600ms;
    animation-duration: 2.6s;
    animation-fill-mode: forwards;
    transform: translateY(50px);
    opacity: 0;
}
@keyframes fadeIn2600ms {
    0% {
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

